{% extends "base.html" %}
{% load static %}
<!-- {% load i18n %}  -->




{% block main %}
<br><br>

<div class="row">
   <a href="" class="btn col-md-4 btn-primary">
      Nouvelle Facture <span class="badge text-bg-secondary"></span>
   </a>

   <a href='#' class="col-md-4">
      <span class="badge text-bg-secondary"></span>
   </a>

   <a href="" class="btn col-md-4 btn-primary">
      Nouveau Client <span class="badge text-bg-secondary"></span>
   </a>

</div>

<br> <br>

<div class="form-group ">
   <input id="search" class="form-control" type="text" placeholder="Search....">
</div>

<div>
   <table  class="table table-striped-columns">
      <thead style="background-color: darkgray;">
         <tr>
            <th scope="col">ID</th>
            <th scope="col">NOM CLIENT</th>
            <th scope="col">DATE</th>
            <th scope="col">STATUT</th>
            <th scope="col">TYPE FACTURE</th>
            <th scope="col">TOTAL</th>
            <th scope="col">ACTIONS</th>
         </tr>
      </thead>
      <tbody id="myTable">
         {% if facture %}
         {% for fact in facture %}
         <tr>
            <th scope="row">{{ fact.id }}</th>
            <td>{{fact.client.nom}}</td>
            <td>{{fact.date_heure_facture}}</td>

            <td>
               {% if fact.statut %}
               <img src="{% static 'img/icon-yes.svg' %}" alt="True">
               {% else %}
               <img src="{% static 'img/icon-no.svg' %}" alt="False">
               {% endif %}
            </td>
            <td>{{fact.type_facture }}</td>
            <td>{{ fact.get_total }}</td>
            <td>
               <a href="" title="Detail" class="badge text-white bg-success">Voir</a>

               <button id="btn-invoice-sup" type="button" data-toggle="modal" data-target="#supprimer"
                  class="badge text-white bg-danger" title="Supprimer" data-id="{{ fact.id }}"
                  data-customer="{{fact.client.nom}}">Delete
               </button>

               <button id="btn-invoice-mod" type="button" data-toggle="modal" title="Modifier" data-target="#modifier"
                  data-id="{{fact.id}}" data-customer="{{fact.client.nom}}"
                  class="badge text-dark bg-warning"> Modifier
               </button>
            </td>
         </tr>

         {% endfor %}

         <!-- {% if facture.has_other_pages %}

         <div class="btn-group" role="group" aria-label="Item pagination">

            {% if invoices.has_previous %}

            <a href="?page={{ invoices.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>

            {% endif %}

            {% for page_number in invoices.paginator.page_range %}

               {% if invoices.number == page_number %}

                  <button class="btn btn-outline-primary active">
                     <span> {{page_number}} <span class="sr-only">(current)</span></span>

                  </button>

                  {% else %}
                     <a href="?page={{page_number}}" class="btn btn-outline-primary">
                        {{ page_number }}
                     </a>


               {% endif %}   

            {% endfor %}

            {% if invoices.has_next %}

               <a href="?page={{ invoices.next_page_number }}" class="btn btn-outline-primary">&laquo;</a>

            {% endif %}



         </div>

         {% endif %}
-->
         {% else %} 
         
         <p class="text-center text-white">Pas de Facture.</p>
         {% endif %}


      </tbody>

   </table>
</div>

<!-- Modal modifier -->
<div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark text-center" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form method="post">
            {% csrf_token %}
            <div class="modal-body">

               <input name="id_modified" type="hidden" id="id_modified">

               <label id="label_id" class="text-dark checkbox-inline"> <strong id="strong_id"> Cette facture est t'elle deja payé?</strong></label>

               <input type="radio" id="html" name="modified" value="True">
               <label class="text-white bg-primary" for="html">Oui</label>

               <input type="radio" id="css" name="modified" value="False">
               <label class="text-white bg-danger" for="css">Non</label><br>

            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
            </div>
         </form>
      </div>
   </div>
</div>
<!-- end modal-->

<!-- Modal suppression -->
<div class="modal fade" id="supprimer" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark" id="sexampleModalLabel">Delete Invoice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="post">
               {% csrf_token %}
               <input name="id_supprimer" type="hidden" id="id_supprimer">
               <label id="label_id_s" class="text-dark checkbox-inline"> <strong id="strong_id_s">Voulez vous vraiment supprimer cette facture  ?</strong></label>

               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Delete</button>
               </div>
            </form>
         </div>

      </div>
   </div>
</div>
<!-- end modal-->

<br><br>

<script type="text/javascript">

   // modification

   $(document).on('click', '#btn-invoice-mod', function(){
      let invoice_id = $(this).data('id');
      let customer = $(this).data('customer');
      $('#id_modified').val(invoice_id);

   })

   // deleting of invoice

   $(document).on('click', '#btn-invoice-sup', function(){
      let invoice_id = $(this).data('id');
      let customer = $(this).data('customer');
      $('#id_supprimer').val(invoice_id);

   })



</script>


<script>

   $(document).ready(function(){
      $("#search").on("keyup", function(){
         var value = $(this).val().toLowerCase();
         $("#myTable tr").filter(function(){
            $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value)>-1)
         });
      });
   });

</script>



{% endblock %}